# Rules in this file were initially inferred by Visual Studio IntelliCode from the C:\Projekte\SauerStreamTools\src codebase based on best match to current usage at 08.11.2021
# You can modify the rules from these initially generated values to suit your own policies
# You can learn more about editorconfig here: https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference
[*.cs]


#Core editorconfig formatting - indentation

#use soft tabs (spaces) for indentation
indent_style = space

#Formatting - new line options

#place else statements on a new line
csharp_new_line_before_else = true
#require braces to be on a new line for control_blocks, types, properties, accessors, and methods (also known as "Allman" style)
csharp_new_line_before_open_brace = control_blocks, types, properties, accessors, methods

#Formatting - organize using options

#sort System.* using directives alphabetically, and place them before other usings
dotnet_sort_system_directives_first = true

#Formatting - spacing options

#require NO space between a cast and the value
csharp_space_after_cast = false
#require a space before the colon for bases or interfaces in a type declaration
csharp_space_after_colon_in_inheritance_clause = true
#require a space after a keyword in a control flow statement such as a for loop
csharp_space_after_keywords_in_control_flow_statements = true
#require a space before the colon for bases or interfaces in a type declaration
csharp_space_before_colon_in_inheritance_clause = true
#remove space within empty argument list parentheses
csharp_space_between_method_call_empty_parameter_list_parentheses = false
#remove space between method call name and opening parenthesis
csharp_space_between_method_call_name_and_opening_parenthesis = false
#do not place space characters after the opening parenthesis and before the closing parenthesis of a method call
csharp_space_between_method_call_parameter_list_parentheses = false
#remove space within empty parameter list parentheses for a method declaration
csharp_space_between_method_declaration_empty_parameter_list_parentheses = false
#place a space character after the opening parenthesis and before the closing parenthesis of a method declaration parameter list.
csharp_space_between_method_declaration_parameter_list_parentheses = false

#Formatting - wrapping options

#leave code block on separate lines
csharp_preserve_single_line_blocks = false
#leave statements and member declarations on the same line
csharp_preserve_single_line_statements = true

#Style - Code block preferences

#prefer curly braces even for one line of code
csharp_prefer_braces = true:suggestion

#Style - expression bodied member options

#prefer block bodies for methods
csharp_style_expression_bodied_methods = false:suggestion
#prefer expression-bodied members for properties
csharp_style_expression_bodied_properties = true:suggestion

#Style - expression level options

#prefer out variables to be declared inline in the argument list of a method call when possible
csharp_style_inlined_variable_declaration = true:suggestion

#Style - implicit and explicit types

#prefer var over explicit type in all cases, unless overridden by another code style rule
csharp_style_var_elsewhere = true:suggestion
#prefer var is used to declare variables with built-in system types such as int
csharp_style_var_for_built_in_types =true:silent

#Style - language keyword and framework type options

#prefer the language keyword for local variables, method parameters, and class members, instead of the type name, for types that have a keyword to represent them
dotnet_style_predefined_type_for_locals_parameters_members = true:suggestion

#Style - modifier options

#prefer accessibility modifiers to be declared except for public interface members. This will currently not differ from always and will act as future proofing for if C# adds default interface methods.
dotnet_style_require_accessibility_modifiers = for_non_interface_members:suggestion

#Style - Modifier preferences

#when this rule is set to a list of modifiers, prefer the specified ordering.
csharp_preferred_modifier_order = public,private,protected,override,readonly,static:suggestion

#Style - Pattern matching

#prefer pattern matching instead of is expression with type casts
csharp_style_pattern_matching_over_as_with_null_check = true:suggestion

#Style - qualification options

#prefer fields not to be prefaced with this. or Me. in Visual Basic
dotnet_style_qualification_for_field = false:suggestion
#prefer methods not to be prefaced with this. or Me. in Visual Basic
dotnet_style_qualification_for_method = false:suggestion
#prefer properties not to be prefaced with this. or Me. in Visual Basic
dotnet_style_qualification_for_property = false:suggestion
dotnet_diagnostic.CA1001.severity=warning
dotnet_diagnostic.CA1805.severity=suggestion

[*.{cs,vb}]
dotnet_diagnostic.CA1051.severity=suggestion
dotnet_diagnostic.CA1707.severity=error
dotnet_diagnostic.CA1710.severity=error
dotnet_diagnostic.CA1712.severity=suggestion
dotnet_diagnostic.CA1715.severity=error
dotnet_diagnostic.CA1716.severity=suggestion
dotnet_diagnostic.CA1725.severity=warning
dotnet_diagnostic.CA3077.severity=warning
dotnet_diagnostic.CA3076.severity=warning
dotnet_diagnostic.CA3075.severity=warning
dotnet_diagnostic.CA3061.severity=warning
dotnet_diagnostic.CA5351.severity=warning
dotnet_diagnostic.CA5350.severity=warning
dotnet_diagnostic.CA5359.severity=suggestion
dotnet_diagnostic.CA5360.severity=suggestion
dotnet_diagnostic.CA5363.severity=suggestion
dotnet_diagnostic.CA5364.severity=suggestion
dotnet_diagnostic.CA5365.severity=suggestion
dotnet_diagnostic.CA5366.severity=suggestion
dotnet_diagnostic.CA5369.severity=suggestion
dotnet_diagnostic.CA5370.severity=suggestion
dotnet_diagnostic.CA5371.severity=suggestion
dotnet_diagnostic.CA5372.severity=suggestion
dotnet_diagnostic.CA5373.severity=warning
dotnet_diagnostic.CA5374.severity=suggestion
dotnet_diagnostic.CA5379.severity=suggestion
dotnet_diagnostic.CA5384.severity=suggestion
dotnet_diagnostic.CA5385.severity=suggestion
dotnet_diagnostic.CA5397.severity=suggestion
dotnet_diagnostic.CA2201.severity=suggestion
dotnet_diagnostic.CA2215.severity=warning
dotnet_style_allow_multiple_blank_lines_experimental=true:suggestion
dotnet_style_parentheses_in_arithmetic_binary_operators=always_for_clarity:suggestion
dotnet_style_parentheses_in_other_binary_operators=always_for_clarity:suggestion
dotnet_style_parentheses_in_relational_binary_operators=always_for_clarity:suggestion
dotnet_style_parentheses_in_other_operators=never_if_unnecessary:suggestion